<div>
    <v-card style="width:300px;margin:auto;">
        <v-card-title>
            <h3>{{$t('LABEL_AUTHENTIFICATION')}}</h3>
        </v-card-title>
        <v-card-text>
            <v-text-field @keyup.enter="authenticate()" :label="$t('LABEL_LOGIN')" v-model="login" required></v-text-field>
            <v-text-field @keyup.enter="authenticate()" :label="$t('LABEL_PASSWORD')" v-model="password" required type="password"></v-text-field>
            <div v-if="errorMessage.length > 0" style="color:red;">
                {{$t('ERROR_'+errorMessage)}}
            </div>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" :disabled="login.length == 0 || password.length == 0" @click="authenticate()">{{$t('LABEL_SUBMIT')}}</v-btn>
        </v-card-actions>
    </v-card>
</div>