<div>
    <v-card>
        <v-card-text>
            <v-date-picker @click="refresh()" v-model="selectedDate" header-color="primary" :locale="locale" style="margin:auto;"></v-date-picker>
        </v-card-text>
    </v-card>
    <div style="height:10px;"></div>
    <div v-if="events.length > 0">
        <div v-for="event in events">
            <v-card>
                <v-card-title>
                    <v-icon>{{getIcon(event.type)}}</v-icon>
                    <span style="width:10px;"></span>
                    {{event.title}}
                </v-card-title>
                <v-card-text v-if="event.description.length > 0">
                    {{event.description}}
                </v-card-text>
            </v-card>
            <div style="height:10px;"></div>
        </div>
    </div>
    <div v-else>
        <v-card>
            <v-card-title>
                <v-icon>notifications</v-icon>
                <span style="width:10px;"></span>
                {{$t("LABEL_NOTHING_TO_NOTICE")}}
            </v-card-title>
        </v-card>
    </div>
</div>