<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div id="main-view">
        <v-app>
            <v-navigation-drawer app v-model="drawer">
                <v-list>
                    <v-list-tile @click="showHomeView()">
                        <v-list-tile-action>
                            <v-icon>home</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{$t('LABEL_HOME')}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile @click="showMySpaceView()">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{$t('LABEL_MY_SPACE')}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-if="profile.length > 0" @click="showProfileView()">
                        <v-list-tile-action>
                            <v-icon>mood</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{profile}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar dark fixed app color="primary">
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>
                    SWA
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat v-if="loading">
                        <v-progress-circular indeterminate></v-progress-circular>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="/node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="/node_modules/vue-i18n/dist/vue-i18n.js"></script>
    <script src="/node_modules/vuetify/dist/vuetify.min.js"></script>
    <script src="/js/fwk.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>