<div>
    <v-card>
        <v-card-title>
            <h3>Simple Web Application</h3>
        </v-card-title>
        <v-card-text>
            {{$t("LABEL_SYNOPSIS")}}
        </v-card-text>
        <v-card-text>
            <router-link to="test">{{$t("LABEL_TEST_FEATURES")}}</router-link>
        </v-card-text>
        <v-card-text>
            <a href="https://s-w-a.herokuapp.com/doc/" target="_blank">Documentation</a>
        </v-card-text>
    </v-card>
    <div v-for="group in groups" :key="group.labelKey">
        <v-card class="mt-3">
            <v-card-title>
                <h3>{{$t(group.labelKey)}}</h3>
            </v-card-title>
            <a v-for="item in group.items" :href="item.link" target="_blank" :key="item.description">
                <v-card-media :src="item.image" :alt="item.description" height="250px"></v-card-media>
            </a>
        </v-card>
    </div>
</div>