<div>
    <v-card>
        <v-card-title>
            <h3>{{$t('LABEL_INFORMATIONS')}}</h3>
        </v-card-title>
        <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-text-field @keyup.enter="validate()" :label="$t('LABEL_FIRST_NAME')" :rules="rules" v-model="profile.firstName" required></v-text-field>
                <v-text-field @keyup.enter="validate()" :label="$t('LABEL_LAST_NAME')" :rules="rules" v-model="profile.lastName" required></v-text-field>
                <v-btn color="primary" :disabled="!valid || !hasChanges()" @click="validate()">
                    {{$t('LABEL_UPDATE')}}
                </v-btn>
            </v-form>
        </v-card-text>
    </v-card>
    <v-card class="mt-3">
        <v-card-title>
            <h3>{{$t('LABEL_ACTIONS')}}</h3>
        </v-card-title>
        <v-card-text>
            <div>
                <a @click="logout()">{{$t('LABEL_DISCONNECT')}}</a>
            </div>
        </v-card-text>
    </v-card>
</div>